* {
  margin: 0;
  padding: 0;
  font-size: large;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 182, 182);
}
form {
  margin: 2rem 0;
}
img {
  max-width: 2rem;
}
html {
  scroll-behavior: smooth;
}
h1, h2 {
    text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}
h1,
h2,
h3 {
    margin-top: 1rem;
  color:  rgb(58, 3, 3);
}
h4,
b,
li,
p {
  margin-top: 0.7rem;
  margin-left: 2rem;
  padding-right: 1rem;

}
hr {
  margin: 0.5rem 0;
}
form {
  margin-left: 2rem;
  margin-right: 5rem;
  justify-content: center;
  box-sizing: border-box;
  border-right: ridge;
}
nav {
  margin-top: 50%;
  margin-bottom: 15%;
  margin-right: -0.4%;
  padding: 50% 0;
  background: rgba(30, 1, 1, 1);
  justify-content: center;
  align-items: center;
  width: 3rem;
  padding: 0.7rem 0.7rem;
  z-index: 2;
  position: fixed;
  right: 0;
  transform: translate(-50%);
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 1rem;
  backdrop-filter: blur(15px);
}
